In [1]:
import random
import time
import pandas as pd
import requests
from scrapy.http import TextResponse
from fake_useragent import UserAgent

In [2]:
dongs = pd.read_csv("gudong.csv")
dongs.drop(columns="Unnamed: 0", inplace=True)
dongs.tail()

     자치구     동
419  강동구  둔촌1동
420  강동구  둔촌2동
421  강동구  암사1동
422  강동구  천호2동
423  강동구    길동

In [3]:
idx = 0
errorlist = []
ua = UserAgent()
columns = ["id", "dong", "name", "tel", "addr", "bizhour", "category", "context", "menu", "reviewcount", "microreview", "thumbnail", "lng", "lat", "rating"]
df = pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [id, dong, name, tel, addr, bizhour, category, context, menu, reviewcount, microreview, thumbnail, lng, lat, rating]
Index: []

In [ ]:
for i in range(0, len(dongs["동"]), 50):
    for dong in dongs["동"][i:i+50]:
        # 크롤링 URL 설정
        url = "https://map.naver.com/v5/api/search?caller=pcweb&query={} 맛집&type=all&searchCoord=126.93536503149417;37.576196000000024&page=1&displayCount=50&isPlaceRecommendationReplace=true&lang=ko".format(dong)

        # 네이버 지도 (URL+동 이름)으로 해당 지역 맛집 데이터 리퀘스트
        try:
            response = requests.get(url)
            print(idx, dong, response)
            datas = response.json()["result"]["place"]["list"]
        except:
            errorlist.append(idx)
        
        # 해당 동 데이터 입력
        columns = ["id", "dong", "name", "tel", "addr", "bizhour", "category", "context", "menu", "reviewcount", "microreview", "thumbnail", "lng", "lat", "rating"]
        dong_df = pd.DataFrame(columns=columns)
        
        try :
            dong_df["dong"] = dong
            dong_df["id"] = [data["id"] for data in datas]
            dong_df["name"] = [data["name"] for data in datas]
            dong_df["tel"] = [data["tel"] for data in datas]
            dong_df["addr"] = [data["address"] for data in datas]
            dong_df["bizhour"] = [data["bizhourInfo"] for data in datas]
            dong_df["category"] = [data["category"] for data in datas]
            dong_df["context"] = [data["context"] for data in datas]
            dong_df["menu"] = [data["menuInfo"] for data in datas]
            dong_df["reviewcount"] = [data["reviewCount"] for data in datas]
            dong_df["microreview"] = [data["microReview"] for data in datas]
            dong_df["thumbnail"] = [data["thumUrl"] for data in datas]
            dong_df["lng"] = [data["x"] for data in datas]
            dong_df["lat"] = [data["y"] for data in datas]
        
        except:
            print("none data", idx, dong)
    
        idx += 1
        df = df.append(dong_df)
        time.sleep(random.randint(15, 20))
    
    time.sleep(random.randint(180, 240))

In [4]:
# df.to_excel("naver_df.xlsx")

In [9]:
df = pd.read_excel("./nav_df.xlsx")
df.head()

,id,dong,name,tel,addr,bizhour,category,context,menu,reviewcount,microreview,thumbnail,lng,lat,rating
0,37450428,사직동,박순례 손말이고기 산정집 광화문점,02-310-9636,서울특별시 종로구 당주동 3-2 선덕빌딩 2층,일요일 휴무 명절연휴 휴무 | 매일 11:30~14:00 점심 | 매일 14:00~...,"['한식', '소고기구이']","['시래기', '고기말이', '한우', '고급스러운', '나들이']","한우말이고기 21,000 | 한우내장볶음 21,000 | 한우내장전골 25,000 ...",203,[],https://ldb-phinf.pstatic.net/20200930_73/1601...,126.974200,37.572380,NaN
1,1934318307,사직동,한옥 달,010-8706-3392,서울특별시 종로구 체부동 68,평일 11:30~22:00 (L.O. 20:30) | 평일 15:30~17:00 B...,"['이탈리아음식', '스파게티,파스타전문']",[],"단호박 크림 스프 15,000 | 아보카도 허머스 16,000 | 리코타 치즈 샐러...",322,[],https://ldb-phinf.pstatic.net/20190808_53/1565...,126.971983,37.576946,NaN
2,19489992,사직동,할매집,02-735-2608,서울특별시 종로구 내자동 108,매일 12:00~21:30,"['한식', '족발,보쌈']","['감자탕', '족발', '미슐랭가이드', '우아한', '콩국수']","족발 30,000 | 감자탕(중) 25,000 | 감자탕(대) 30,000",390,"['콩나물 넣은 감자탕', '구수하고 푸짐한 감자탕을 먹을 수 있는 식신로드 맛집'...",http://blogfiles.naver.net/20150910_18/xxxyeji...,126.971475,37.575660,NaN
3,1010940645,사직동,디퍼카페테리아,010-9160-4482,서울특별시 종로구 체부동 2-2,주말 12:00~19:30 | 수요일 12:00~19:30 | 목요일 12:00~1...,"['음식점', '카페,디저트']",[],"아메리카노 3,500 | 카페라떼 4,000 | 그라니따 5,500 | 스폴리아텔라...",39,[],https://ldb-phinf.pstatic.net/20200908_251/159...,126.970393,37.579038,NaN
4,676217924,사직동,후라토식당 경복궁 본점,02-730-7090,서울특별시 종로구 당주동 5,매일 11:30~22:00 평일 브레이크타임 15:00-17:00,"['일식', '일식당']","['오므라이스', '데이트', '일본가정식', '프라이빗', '돈가스']","규카츠 15,000 | 반숙 오므라이스 11,000 | 야마가타 민치카레 12,00...",497,[],https://ldb-phinf.pstatic.net/20200804_260/159...,126.974311,37.572032,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21200 entries, 0 to 21199
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21200 non-null  int64
 1   dong         21200 non-null  object
 2   name         21200 non-null  object
 3   tel          21013 non-null  object
 4   addr         21200 non-null  object
 5   bizhour      20612 non-null  object
 6   category     21198 non-null  object
 7   context      21200 non-null  object
 8   menu         21036 non-null  object
 9   reviewcount  21200 non-null  int64
 10  microreview  21200 non-null  object
 11  thumbnail    20877 non-null  object
 12  lng          21200 non-null  float64
 13  lat          21200 non-null  float64
 14  rating       0 non-null      float64
dtypes: float64(3), int64(2), object(10)
memory usage: 2.4+ MB